@{ 
    ViewData["Title"] = "Services";
}

<h4>Our Services Include</h4>
<ul class="list-group">
    <li class="list-group-item list-group-item-success">@ViewBag.Web</li>
    <li class="list-group-item list-group-item-secondary">@ViewBag.Mobile</li>
    <li class="list-group-item list-group-item-info">@ViewBag.Desktop</li>
    <li class="list-group-item list-group-item-warning">@ViewBag.Project</li>
    <li class="list-group-item list-group-item-danger">@ViewBag.Sofware</li>
    <li class="list-group-item list-group-item-primary">@ViewBag.Blockchain</li>
    <li class="list-group-item list-group-item-dark">@ViewBag.Payment</li>
</ul>

</ul>